html, body {
    font-family: 'freight-sans-pro', 'Helvetica', 'Avenir', 'Arial', sans-serif;
}

a, u {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.card-title {
    font-size: 40px;
    color: darkorange;
}

.card-title:hover, .navbar-brand:hover, .read-more:hover {
    color: orange !important;
}

.card-header-link {
    color: white;
}

.label-link:hover {
    background-color: white;
    color: #343a40;
}

.navbar-brand, .read-more {
    color: darkorange !important;
}

.btn-outline-darkorange {
    color: darkorange;
    border-color: darkorange;
}

.btn-outline-darkorange:hover {
    background-color: darkorange;
    border-color: darkorange;
    color: #343a40;
}

.navbar-search-input:focus {
    box-shadow: none;
}

.bio {
    font-size: 30px;
    font-weight: 100;
}

.social-link {
    color: #343a40;
}

.social-link:hover {
    color: darkorange;
}