html, body {
    font-family: 'freight-sans-pro', 'Helvetica', 'Avenir', 'Arial', sans-serif;
}

a, u {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.label-link:hover {
    background-color: white;
    color: #343a40;
}

.read-more {
    color: darkorange !important;
}

.btn-outline-darkorange {
    color: darkorange;
    border-color: darkorange;
}

.btn-outline-darkorange:hover {
    background-color: darkorange;
    border-color: darkorange;
    color: #343a40;
}

.navbar-search-input:focus {
    box-shadow: none;
}

.bio {
    font-size: 30px;
    font-weight: 100;
}

.social-link {
    color: #343a40;
}