{% extends "blog/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="article-container">
        <article>
            <header>
                <h1 class="text-center">{{ article.title }}</h1>
                <p class="text-center text-muted"><em>posted on {{ article.created_at|date:"M d, Y" }}</em></p>
            </header>
            <section class="article-content pb-5">
                <p>{{ article.body|safe }}</p>
                <div class="d-flex flex-row bd-highlight pt-3">
                    {% for label in article.label.all %}
                        <div class="pr-2 bd-highlight">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'search-article-label' label.name %}">
                                <i class="fas fa-tag"></i> {{ label.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </article>
    </div>
{% endblock %}
