<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block title %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Articles</a>
    <form class="form-inline" method="get" action="{% url 'search-article' %}">
        <div class="input-group">
            <input class="form-control border-right-0 border navbar-search-input"
                   type="search"
                   name="keyword"
                   placeholder="Search articles">
            <span class="input-group-append">
                    <span class="input-group-text bg-white"><i class="fas fa-search"></i></span>
            </span>
        </div>
    </form>
</nav>
<header>
    {% block header %}
        {# TODO: fix this static url parameter #}
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <a href="{% url 'author-detail' 1 %}" class="author-header">
                    <h2 class="text-center">Mert Malçok</h2>
                    <p class="text-center">Software Engineer</p>
                </a>
            </div>
            <div class="col-md-1 offset-md-3">
                <a class="social-link" href="https://github.com/mrtmrtmlck"><i class="fab fa-github-square fa-2x"></i></a>
                <a class="social-link" href="https://www.linkedin.com/in/mert-murat-malcok"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    {% endblock %}
</header>
<main>
    <div class="d-flex justify-content-center">
        {% block content %}{% endblock %}
    </div>
    {% if is_paginated %}
        <div class="container">
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-lg btn-outline-warning btn-outline-darkorange"
                           href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            <i class="fas fa-arrow-left"></i> Newer
                        </a>
                    {% endif %}
                </div>
                <div class="p-2 bd-highlight">
                    {% if page_obj.has_next %}
                        <a class="btn btn-lg btn-outline-warning btn-outline-darkorange"
                           href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                            Older <i class="fas fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</main>
</body>
</html>