<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    {% block title %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Articles</a>
    <form class="form-inline" method="get" action="{% url 'search-article' %}">
        <div class="input-group">
            <input class="form-control border-right-0 border navbar-search-input"
                   type="search"
                   name="keyword"
                   placeholder="Search articles">
            <span class="input-group-append">
                    <span class="input-group-text bg-white"><i class="fas fa-search"></i></span>
            </span>
        </div>
    </form>
</nav>
<header>
    {% block header %}
        <div>
            <a class="social-link" href="https://github.com/mrtmrtmlck">
                <i class="fab fa-github-square fa-2x"></i>
            </a>
            <a class="social-link" href="https://www.linkedin.com/in/mert-murat-malcok">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>
    {% endblock %}
</header>
<main>
    <div class="d-flex justify-content-center">
        {% block content %}{% endblock %}
    </div>
    {% if is_paginated %}
        <div class="container">
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-lg btn-outline-warning btn-outline-darkorange"
                           href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            <i class="fas fa-arrow-left"></i> Newer
                        </a>
                    {% endif %}
                </div>
                <div class="p-2 bd-highlight">
                    {% if page_obj.has_next %}
                        <a class="btn btn-lg btn-outline-warning btn-outline-darkorange"
                           href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                            Older <i class="fas fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</main>
</body>
</html>