{% extends "blog/base.html" %}

{% block content %}
    {% if article_list %}
        <ul>
            {% for article in article_list %}
                <li>
                    <a href="{% url 'article-detail' article.slug %}">
                        <div class="card text-white bg-dark mb-3" style="max-width: 50em;">
                            <div class="card-header card-header-link">
                                <small><em>{{ article.created_at|date:"M d, Y" }}</em></small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <h6 class="card-subtitle mb-2">
                                    <div class="d-flex">
                                        {% for label in article.label.all %}
                                            <a href="{% url 'search-article-label' label.name %}">
                                                <div class="p-1">
                                                <span class="badge badge-secondary label-link">
                                                    {{ label.name }}
                                                </span>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </h6>
                                <p class="card-text">{{ article.body }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No results found.</h2>
    {% endif %}
{% endblock %}