{% extends "blog/base.html" %}

{% block content %}
    <div class="bio">
        <ul class="bio-list">
            <li> Hey! I'm Mert.</li>
            <li>Born in İzmir, Turkey in March 2, 1991.</li>
            <li>Software Engineer with 3 years of experience in both backend and frontend technologies.</li>
            <li>A hardworking and dedicated developer committed to providing high quality in the projects.</li>
            <li>A quite compatible team player and also capable of doing remarkable works by individual.</li>
            <li>An open source fanboy.</li>
            <li>Python and Django lover.</li>
            <li>A lifelong-learner.</li>
            <li>Bass guitarist.</li>
            <li>Photography enthusiastic.</li>
        </ul>
    </div>
{% endblock %}
